*{
    padding:0;
    margin:0;
}

#logo{
    width:20%;
    height:170px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

@media only screen and (max-width: 768px) {

    #logo{
        width:20%;
        height:170px;
    }

}
@media only screen and (max-width: 425px) {

    #logo{
        width:50%;
        height:170px;
    }

}